@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Poppins:wght@300&display=swap");
:root {
  --bg: #ffdf94;
  --accent: #fff;
  --primary: #c66b4e;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p,
i {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg);
  background-image: url("images/inspiration-geometry.png");
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  margin-top: 1rem;
  text-align: center;
  color: var(--accent);
}
main {
  margin: 5% 23%;
}
h1 {
  font-weight: 600;
  color: var(--accent);
  text-align: center;
}
span {
  color: var(--primary);
}
.title {
  display: flex;
  justify-content: space-between;
}
.title button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.title img {
  width: 200px;
}

.title h2 {
  font-size: 3rem;
  color: var(--accent);
  line-height: 1.5;
}
.title-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-left button {
  background-color: var(--primary);
  color: var(--accent);
  border: none;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 50px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 400;
  resize: none;
}
form.create-note textarea {
  border-top: 1px solid var(--primary);
  font-size: 1rem;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.notes-container {
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
}
.space-apart {
  display: flex;
  justify-content: space-between;
}
.space-apart em {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
.notes {
  padding: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #fff;
  width: max(100px 250px);
  height: 120px;
  overflow: hidden;
}

.notes h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
}
.notes p {
  font-size: 0.9rem;
}

.notes.compacted {
  position: relative;
}
.notes.compacted::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.7s;
  background-color: #c66a4eb4;
}
.notes.compacted:after {
  opacity: 0;
  content: url(images/icon-view.svg);
  position: absolute;
  top: 30%;
  left: 40%;
  transition: 0.7s;
}
.compacted:hover::before,
.compacted:hover::after {
  opacity: 1;
  cursor: pointer;
}
.compacted:hover {
  box-shadow: 0 0 5px #c66a4eb4;
}

.expanded {
  position: fixed;
  top: 25%;
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  padding: 1.5rem 2rem;
  left: 25%;
  border-radius: 20px;
}
.expanded h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.expanded em {
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
}

.exit {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  font-size: 0.8rem;
}
.delete {
  font-size: 0.8rem;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 20px;
  border: none;
  background: none;
  padding: 5px;
}
.exit:hover,
.delete:hover {
  padding: 5px;
  border-radius: 50%;
  background-color: #f3f0f0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
}

footer p {
  color: #878787;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .title {
    text-align: center;
    display: block;
  }
  .title-left {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  main {
    margin: 5%;
  }
  form.create-note {
    width: 90%;
  }
  .expanded {
    left: 5%;
    width: 90%;
  }
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
